.DS_Store
data/raha/user-data.json
data/disabledChannels/channels.json
data/adminUsers/data.json
node_modules/*
.vscode
.env
commandMetaMap.json
dist/
assets/createsound/data.json
assets/createsound/files/*